#include <behaviors.dtsi>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 950
#define ZMK_POINTING_DEFAULT_SCRL_VAL 13
#include <dt-bindings/zmk/pointing.h>

#define BASE      0
#define VI        1
#define FUNC      2
#define NUM       3
#define MOUSE     4
#define PRECISION 5

&mmv {
    trigger-period-ms = <8>;
    time-to-max-speed-ms = <300>;
};

&mmv_input_listener {
    precision {
        layers = <PRECISION>;
        input-processors = <&zip_xy_scaler 2 3>;
    };
};

&msc_input_listener {
    precision {
        layers = <PRECISION>;
        input-processors = <&zip_scroll_scaler 2 3>;
    };
};

/ {
    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                6 7 8 9 10 11
                18 19 20 21 22 23
                31 32 33 34 35 36 37
                41 42 43 44 45 46 47 48 49
            >;
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <
                0 1 2 3 4 5
                12 13 14 15 16 17
                24 25 26 27 28 29 30
                38 39 40 41 42 43 44 45 46
            >;
            hold-trigger-on-release;
        };

        vi_spc: vi_space {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <250>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
                &kp GRAVE       &kp Q            &kp W            &kp E            &kp R            &kp T                &kp Y                 &kp U              &kp I              &kp O              &kp P              &kp BSLH
                &kp LCTRL       &hml LCTRL A     &hml LALT S      &hml LGUI D      &hml LSHFT F     &kp G                &kp H                 &hmr RSHFT J        &hmr RGUI K         &hmr RALT L         &hmr RCTRL SEMI    &kp SQT
                &kp LSHFT       &kp Z            &kp X            &kp C            &kp V            &kp B                &kp C_MUTE            &mkp MCLK            &kp N              &kp M              &kp COMMA          &kp DOT            &kp FSLH           &kp RSHFT
                &kp CAPS        &kp LALT         &kp LGUI         &mo FUNC         &mo NUM          &vi_spc VI SPACE     &kp LC(LS(LA(LGUI)))  &kp LC(LA(LGUI))     &mo MOUSE          &kp RGUI           &kp RALT           &kp RCTRL
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        vi_layer {
            display-name = "VI";
            bindings = <
                &trans           &none            &none            &none            &kp LG(LS(Z))    &none                 &kp LG(C)             &kp LG(Z)           &kp TAB            &kp LS(TAB)        &kp LG(V)          &trans
                &trans           &kp LC(SPACE)    &kp LALT         &kp LGUI         &kp LSHFT        &none                 &kp LEFT              &kp DOWN            &kp UP             &kp RIGHT          &kp ESC            &trans
                &trans           &none            &none            &none            &none            &none                 &trans                &trans              &none              &kp RET            &kp BSPC           &none              &none              &trans
                &trans           &trans           &trans           &trans           &trans           &trans                &trans                &trans              &trans             &trans             &trans             &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        function_layer {
            display-name = "FN";
            bindings = <
                &trans           &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_PRV       &bt BT_NXT            &none                 &kp F1              &kp F2             &kp F3             &kp F4             &trans
                &trans           &none            &kp C_VOL_DN     &kp C_MUTE       &kp C_VOL_UP     &kp C_BRI_UP          &none                 &kp F5              &kp F6             &kp F7             &kp F8             &trans
                &bt BT_CLR       &none            &kp C_PREV       &kp C_PP         &kp C_NEXT       &kp C_BRI_DN          &trans                &trans              &none              &kp F9             &kp F10            &kp F11            &kp F12            &bootloader
                &trans           &trans           &trans           &trans           &trans           &trans                &trans                &trans              &trans             &trans             &trans             &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            display-name = "NUM";
            bindings = <
                &trans           &kp N1           &kp N2           &kp N3           &kp N4           &kp N5               &kp N6                &kp N7              &kp N8             &kp N9             &kp N0             &trans
                &trans           &kp LCTRL        &kp LALT         &kp LGUI         &kp LSHFT        &none                &none                 &kp RSHFT           &kp RGUI           &kp RALT           &kp RCTRL          &trans
                &trans           &none            &none            &none            &none            &none                &trans                &trans              &kp MINUS          &kp EQUAL          &kp LBKT           &kp RBKT           &kp BSLH           &trans
                &trans           &trans           &trans           &trans           &trans           &trans               &trans                &trans              &trans             &trans             &trans             &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mouse_layer {
            display-name = "MOUSE";
            bindings = <
                &trans           &none            &msc SCRL_UP     &mmv MOVE_UP     &msc SCRL_DOWN   &none                &none                 &none               &none              &none              &none              &trans
                &trans           &none            &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT  &none                &none                 &kp RSHFT           &kp RGUI           &kp RALT           &kp RCTRL          &trans
                &trans           &none            &msc SCRL_RIGHT  &none            &msc SCRL_LEFT   &none                &trans                &trans              &none              &none              &none              &none              &none              &trans
                &trans           &trans           &trans           &mo PRECISION    &mkp RCLK        &mkp LCLK            &none                 &none               &trans             &trans             &trans             &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        precision_layer {
            display-name = "PRECISION";
            bindings = <
                &trans           &trans           &trans           &trans           &trans           &trans               &trans                &trans              &trans             &trans             &trans             &trans
                &trans           &trans           &trans           &trans           &trans           &trans               &trans                &trans              &trans             &trans             &trans             &trans
                &trans           &trans           &trans           &trans           &trans           &trans               &trans                &trans              &trans             &trans             &trans             &trans             &trans             &trans
                &trans           &trans           &trans           &trans           &trans           &trans               &trans                &trans              &trans             &trans             &trans             &trans
            >;
            sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
